html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.heading-buttons {
  border-bottom: 2px solid #1fcdff;
  margin-bottom: 10px;
}
.heading-buttons h2,
.heading-buttons h3 {
  float: left;
  margin-bottom: 0;
}
.heading-buttons a {
  display: none;
}
.heading-buttons:hover a {
  display: block;
  float: right;
  margin-top: 20px;
}
.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto 0;
  padding: 0 0 0;
}
.wrap .site-index .body-carousel {
  background-color: #ffffff;
  height: calc(100vh - 52px);
}
.wrap .site-index .body-carousel .macbook {
  background: url('../images/monitor-flat.png') no-repeat;
  background-size: contain;
  height: 787px;
  margin: 0 20px;
}
.wrap .site-index .body-carousel .macbook #carousel-hp {
  height: 100%;
}
.wrap .site-index .body-carousel .macbook #carousel-hp.carousel .carousel-indicators {
  bottom: 78px;
}
.wrap .site-index .body-carousel .macbook #carousel-hp.carousel .carousel-inner {
  position: relative;
}
.wrap .site-index .body-carousel .macbook #carousel-hp.carousel .carousel-inner .item {
  margin: 263px 0;
  text-align: center;
}
.wrap .site-index .body-carousel .macbook #carousel-hp.carousel .carousel-inner .item h2 {
  display: inline-block;
  color: white;
  border-bottom: 4px solid #1fcdff;
  font-family: 'Open Sans', sans-serif;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: -2px;
  text-shadow: 0 0 5px #000000;
}
.wrap .site-index .body-carousel .macbook #carousel-hp.carousel .carousel-control {
  display: none;
}
.wrap .site-index .body-carousel .macbook #carousel-hp.carousel .carousel-control.left,
.wrap .site-index .body-carousel .macbook #carousel-hp.carousel .carousel-control.right {
  background-image: none;
}
.wrap .site-index .body-content article {
  margin: 0;
  background-attachment: fixed;
  /*&#sestavy {
                    background: url('../images/computer.jpg') fixed;
                }

                &#poradenstvi {
                    background: url('../images/hw-sw-site.jpg') fixed;
                }

                &#weby {
                    background: url('../images/source-code-php.png') fixed;
                }*/
}
.wrap .site-index .body-content article .spacer {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
}
.wrap .site-index .body-content article:last-child {
  margin-bottom: 30px;
}
.wrap .site-index .body-content article:last-child .spacer {
  height: 0;
}
.wrap .site-index .body-content article div.row {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  position: relative;
}
.wrap .site-index .body-content article div.row div.article-content {
  width: 50%;
  position: relative;
  border-top: 1px solid #e1e1e1 /*#4091cd*/;
  border-bottom: 1px solid #e1e1e1;
  background-color: #eeeeee;
}
.wrap .site-index .body-content article div.row div.article-content div.article-text {
  width: 100%;
  max-width: 570px;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
}
.wrap .site-index .body-content article div.row div.article-content div.article-text .heading-buttons h3 {
  margin-top: 10px;
}
.wrap .site-index .body-content article div.row div.article-content div.article-text .heading-buttons:hover a {
  margin-top: 10px;
}
.wrap .site-index .body-content article div.row div.article-content div.article-text p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}
.wrap .site-index .body-content article div.row div.article-content div.arrow {
  display: block;
  content: '';
  position: absolute;
  z-index: 999;
  top: -1px;
  right: 0;
  bottom: -1px;
  width: 20px;
  /*height: 100%;*/
  /*padding-top: 25%;*/
  background-color: #eeeeee;
  overflow: hidden;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
.wrap .site-index .body-content article div.row div.article-image {
  width: 50%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  /*-webkit-filter: blur(2px);
                        -moz-filter: blur(2px);
                        -o-filter: blur(2px);
                        -ms-filter: blur(2px);
                        filter: blur(2px);*/
}
.wrap .site-index .body-content article div.row div.article-image img {
  height: 100%;
}
.wrap .site-index .body-content article:nth-child(odd) div.article-content {
  float: right;
}
.wrap .site-index .body-content article:nth-child(odd) div.article-content div.article-text {
  float: left;
}
.wrap .site-index .body-content article:nth-child(odd) div.article-content div.arrow {
  left: -20px;
  border-left: 1px solid #e1e1e1;
  /*&:after {
                                content: "";
                                display: block;
                                width: 0;
                                height: 0;
                                margin-top:-180px;

                                border-top: 180px solid transparent;
                                border-right: 20px solid #4679BD;
                            }*/
}
.wrap .site-index .body-content article:nth-child(odd) div.article-image {
  left: 0;
}
.wrap .site-index .body-content article:nth-child(even) div.article-content {
  float: left;
}
.wrap .site-index .body-content article:nth-child(even) div.article-content div.article-text {
  float: right;
}
.wrap .site-index .body-content article:nth-child(even) div.article-content div.arrow {
  left: 100%;
  border-right: 1px solid #e1e1e1;
}
.wrap .site-index .body-content article:nth-child(even) div.article-image {
  right: 0;
}
.wrap .site-index .body-reference {
  /*h2 {
                border-bottom: 2px solid #1fcdff;
            }*/
  background-color: white;
}
.wrap .site-index .body-reference .row.reference {
  margin-top: 30px;
  margin-bottom: 30px;
}
.wrap .site-index .body-reference .row.reference .reference-image {
  float: left;
}
.wrap .site-index .body-reference .row.reference .reference-content {
  margin-left: 158px;
}
.wrap .site-index .body-reference .row.reference .reference-content .reference-gallery-wrapper img.img-thumbnail {
  border-radius: 0;
}
.wrap > .container {
  padding: 0 15px 20px;
}
.footer {
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  margin-top: 20px;
}
.footer #footer-menu ul {
  list-style: none;
  padding-left: 20px;
}
.footer #footer-contact ul {
  list-style: none;
  padding-left: 0;
}
.footer #footer-contact ul li span.glyphicon {
  font-size: 10px;
  margin-right: 10px;
}
.footer #mapa {
  width: 100%;
  height: 240px;
  margin: 0 auto 20px;
}
.footer #copyright p {
  margin-bottom: 20px;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.not-set {
  color: #c55;
  font-style: italic;
}
/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}
a.asc:after {
  content: /*"\e113"*/ "\e151";
}
a.desc:after {
  content: /*"\e114"*/ "\e152";
}
.sort-numerical a.asc:after {
  content: "\e153";
}
.sort-numerical a.desc:after {
  content: "\e154";
}
.sort-ordinal a.asc:after {
  content: "\e155";
}
.sort-ordinal a.desc:after {
  content: "\e156";
}
.grid-view th {
  white-space: nowrap;
}
.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}
.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}
@media screen and (max-width: 1199px) {
  .wrap .site-index .body-carousel {
    height: calc(75vw - 70px);
    margin-bottom: 20px;
  }
  .wrap .site-index .body-carousel .macbook {
    height: calc(75vw - 70px);
  }
  .wrap .site-index .body-carousel .macbook #carousel-hp.carousel .carousel-inner .item {
    margin: 14vw 0;
  }
  .wrap .site-index .body-carousel .macbook #carousel-hp.carousel .carousel-inner .item h2 {
    font-size: 10vw;
  }
  .wrap .site-index .body-carousel .macbook #carousel-hp.carousel .carousel-indicators {
    bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .wrap .site-index .body-carousel {
    height: calc(78vw - 70px);
  }
  .wrap .site-index .body-carousel .macbook {
    height: calc(78vw - 70px);
  }
  .wrap .site-index .body-content article {
    background-size: cover;
    background-attachment: scroll;
  }
  .wrap .site-index .body-content article div.row div.article-content {
    width: 100vw;
    margin-top: 100px;
  }
  .wrap .site-index .body-content article div.row div.article-content div.article-text {
    width: 100vw;
    max-width: none;
  }
  .wrap .site-index .body-content article div.row div.article-content div.article-text .heading-buttons h3 {
    font-size: 20px;
  }
  .wrap .site-index .body-content article div.row div.article-content div.article-text p {
    font-size: 14px;
  }
  .wrap .site-index .body-content article div.spacer {
    height: 0;
  }
  .wrap .site-index .body-content article:nth-child(odd) div.row div.article-content {
    float: left;
  }
  .wrap .site-index .body-content article:nth-child(odd) div.row div.article-content div.article-text {
    float: left;
  }
  .wrap .site-index .body-content article:nth-child(odd) div.row div.article-content div.arrow {
    display: none;
    border-left: none;
  }
  .wrap .site-index .body-content article:nth-child(odd) div.row div.article-image {
    width: 100%;
    height: 100px;
    left: 0;
  }
  .wrap .site-index .body-content article:nth-child(even) div.row div.article-content {
    float: left;
  }
  .wrap .site-index .body-content article:nth-child(even) div.row div.article-content div.article-text {
    float: left;
  }
  .wrap .site-index .body-content article:nth-child(even) div.row div.article-content div.arrow {
    display: none;
    border-right: none;
  }
  .wrap .site-index .body-content article:nth-child(even) div.row div.article-image {
    width: 100%;
    height: 100px;
    left: 0;
  }
  .wrap .site-index .body-reference {
    /*h2 {
                    border-bottom: 2px solid #1fcdff;
                }*/
    background-color: white;
  }
  .wrap .site-index .body-reference .row.reference {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .wrap .site-index .body-reference .row.reference .reference-image {
    float: left;
    margin-right: 10px;
    width: 20vw;
    max-width: 80px;
  }
  .wrap .site-index .body-reference .row.reference .reference-image img {
    width: 20vw;
    max-width: 80px;
  }
  .wrap .site-index .body-reference .row.reference .reference-content {
    margin-left: 0;
  }
}
