html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

// todo nebylo by od veci na to mit mixin
.heading-buttons {

    border-bottom: 2px solid #1fcdff;
    margin-bottom: 10px;

    h2, h3 {
        float: left;
        margin-bottom: 0;
    }

    a {
        display: none;
    }

    &:hover {
        a {
            display: block;
            float: right;
            margin-top: 20px;
        }
    }
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto 0;
    padding: 0 0 0;

    .site-index {

        .body-carousel {
            background-color: #ffffff;
            height: calc(~"100vh - 52px");

            .macbook {
                background: url('../images/monitor-flat.png') no-repeat;
                background-size: contain;
                height: 787px;
                margin: 0 20px;

                #carousel-hp {
                    height: 100%;
//                    padding: 3.73% 12% 7.9%;

                    &.carousel {
                        .carousel-indicators {
                            bottom: 78px;
                        }

                        .carousel-inner {
                            position: relative;

                            .item {
                                margin: 263px 0;
                                text-align: center;

                                h2 {
                                    display: inline-block;
                                    color: white;
                                    border-bottom: 4px solid #1fcdff;
                                    font-family: 'Open Sans', sans-serif;
                                    font-size: 100px;
                                    font-weight: 700;
                                    letter-spacing: -2px;
                                    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
                                }
                            }
                        }

                        .carousel-control {
                            display: none;

                            &.left, &.right {
                                background-image: none;
                            }
                        }
                    }
                }
            }
        }

        .body-content {
            article {
                margin: 0;
                background-attachment: fixed;

                /*&#sestavy {
                    background: url('../images/computer.jpg') fixed;
                }

                &#poradenstvi {
                    background: url('../images/hw-sw-site.jpg') fixed;
                }

                &#weby {
                    background: url('../images/source-code-php.png') fixed;
                }*/

                .spacer {
                    width: 100%;
                    height: 100px;
                    background-color: #ffffff;
                }

                &:last-child {
                    margin-bottom: 30px;

                    .spacer {
                        height: 0;
                    }
                }

                div.row {
                    margin-left: auto;
                    margin-right: auto;

                    height: auto;
                    position: relative;

                    div.article-content {
                        width: 50%;
                        position: relative;
//                        max-height: 180px;

                        border-top: 1px solid #e1e1e1 /*#4091cd*/;
                        border-bottom: 1px solid #e1e1e1;

                        background-color: #eeeeee;

                        div.article-text {
                            width: 100%;
                            max-width: 570px;
                            overflow: hidden;

                            padding-left: 15px;
                            padding-right: 15px;

                            .heading-buttons {
                                h3 {
                                    margin-top: 10px;
                                }

                                &:hover {
                                    a {
                                        margin-top: 10px;
                                    }
                                }
                            }

                            p {
                                font-size: 16px;
                                line-height: 1.5;
                                font-weight: 300;
                            }
                        }

                        div.arrow {
                            display: block;
                            content: '';
                            position: absolute;
                            z-index: 999;
                            top: -1px;
                            right: 0;
                            bottom: -1px;
                            width: 20px;
                            /*height: 100%;*/
                            /*padding-top: 25%;*/
                            background-color: #eeeeee;

                            overflow: hidden;

                            border-top: 1px solid #e1e1e1;
                            border-bottom: 1px solid #e1e1e1;
                        }
                    }

                    div.article-image {
                        width: 50%;
//                        background-color: white;

                        height: 100%;
                        position: absolute;

                        overflow: hidden;

                        /*-webkit-filter: blur(2px);
                        -moz-filter: blur(2px);
                        -o-filter: blur(2px);
                        -ms-filter: blur(2px);
                        filter: blur(2px);*/

                        img {
                            height: 100%;
                        }
                    }
                }

                &:nth-child(odd) {
                    div.article-content {
                        float: right;

                        div.article-text {
                            float: left;
                        }

                        div.arrow {
                            left: -20px;
                            border-left: 1px solid #e1e1e1;

                            /*&:after {
                                content: "";
                                display: block;
                                width: 0;
                                height: 0;
                                margin-top:-180px;

                                border-top: 180px solid transparent;
                                border-right: 20px solid #4679BD;
                            }*/
                        }

                    }

                    div.article-image {
                        left: 0;
                    }
                }

                &:nth-child(even) {
                    div.article-content {
                        float: left;

                        div.article-text {
                            float: right;
                        }

                        div.arrow {
                            left: 100%;
                            border-right: 1px solid #e1e1e1;
                        }
                    }

                    div.article-image {
                        right: 0;
                    }
                }
            }
        }

        .body-reference {
            /*h2 {
                border-bottom: 2px solid #1fcdff;
            }*/

            background-color: white;

            .row.reference {
                margin-top: 30px;
                margin-bottom: 30px;

                .reference-image {
                    float: left;
                }

                .reference-content {
                    margin-left: 158px;

                    .reference-gallery-wrapper {
                        img {
                            &.img-thumbnail {
                                border-radius: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.wrap > .container {
    padding: 0 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;

    margin-top: 20px;

    #footer-menu {
        ul {
            list-style: none;
            padding-left: 20px;
        }
    }

    #footer-contact {
        ul {
            list-style: none;
            padding-left: 0;

            li {
                span.glyphicon {
                    font-size: 10px;
                    margin-right: 10px;
                }
            }
        }
    }

    #mapa {
        width: 100%;
        height: 240px;
        margin: 0 auto 20px;
    }

    #copyright {
        p {
            margin-bottom: 20px;
        }
    }
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

// bootstrap hranice - 1px, protoze jsou size and up
@media screen and (max-width: 1199px) {
    .wrap {
        .site-index {
            .body-carousel {
                height: calc(~"75vw - 70px");
                margin-bottom: 20px;

                .macbook {
                    height: calc(~"75vw - 70px");

                    #carousel-hp {
                        &.carousel {
                            .carousel-inner {
                                .item {
                                    margin: 14vw 0;

                                    h2 {
                                        font-size: 10vw;
                                    }
                                }
                            }

                            .carousel-indicators {
                                bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {
    .wrap {
        .site-index {
            .body-carousel {
                height: calc(~"78vw - 70px");

                .macbook {
                    height: calc(~"78vw - 70px");
                }
            }

            .body-content {
                article {
                    background-size: cover;
                    background-attachment: scroll;

                    div.row {
                        div.article-content {
                            width: 100vw;
                            margin-top: 100px;

                            div.article-text {
                                width: 100vw;
                                max-width: none;

                                .heading-buttons {
                                    h3 {
                                        font-size: 20px;
                                    }
                                }

                                p {
                                    font-size: 14px;
                                }
                            }
                        }
                    }

                    div.spacer {
                        height: 0;
                    }

                    &:nth-child(odd) {
                        div.row {
                            div.article-content {
                                float: left;

                                div.article-text {
                                    float: left;
                                }

                                div.arrow {
                                    display: none;
                                    border-left: none;
                                }

                            }

                            div.article-image {
                                width: 100%;
                                height: 100px;
                                left: 0;
                            }
                        }
                    }

                    &:nth-child(even) {
                        div.row {
                            div.article-content {
                                float: left;

                                div.article-text {
                                    float: left;
                                }

                                div.arrow {
                                    display: none;
                                    border-right: none;
                                }
                            }

                            div.article-image {
                                width: 100%;
                                height: 100px;
                                left: 0;
                            }
                        }
                    }
                }
            }

            .body-reference {
                /*h2 {
                    border-bottom: 2px solid #1fcdff;
                }*/

                background-color: white;

                .row.reference {
                    margin-top: 30px;
                    margin-bottom: 30px;

                    .reference-image {
                        float: left;
                        margin-right: 10px;
                        width: 20vw;
                        max-width: 80px;

                        img {
                            width: 20vw;
                            max-width: 80px;
                        }
                    }

                    .reference-content {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}