/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}
body #file-browser {
  width: 100%;
}
body #file-browser tr {
  border-bottom: 1px solid #eeeeee;
}
/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}
/*
 * Sidebar
 */
/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
/*
 * Main content
 */
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
/*
 * Placeholder dashboard ideas
 */
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.h1-buttons,
.h2-buttons,
.h3-buttons {
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.h1-buttons a.btn,
.h2-buttons a.btn,
.h3-buttons a.btn {
  margin-right: 10px;
}
.h1-buttons a.btn:last-child,
.h2-buttons a.btn:last-child,
.h3-buttons a.btn:last-child {
  margin-right: 0;
}
.h1-buttons h1 {
  line-height: 36px;
  float: left;
  min-height: 36px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20px;
}
.h2-buttons h2 {
  line-height: 34px;
  float: left;
  min-height: 34px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20px;
}
.h3-buttons h3 {
  line-height: 30px;
  float: left;
  height: 30px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20px;
}
.h4-buttons h4 {
  float: left;
}
.h4-buttons a {
  display: inline-block;
  margin: 10px 0 10px 10px;
  color: #333;
}
